@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&family=Lato:wght@300;400;700&family=Caveat&display=swap');

:root {
	--primary: #ffc8dd;
	--secondary: #8c4196;
	--accent: #cdb4db;
	--light: #ffafcc;
	--lighter: #bde0fe;
	--dark: #333;
	--white: #fff;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--light);
	color: var(--dark);
	overflow-x: hidden;
}

.body-no-scroll {
	overflow: hidden;
}

h1,
h2,
h3 {
	font-family: 'Abhaya Libre', serif;
	line-height: 1.2;
	font-weight: 700;
}

p {
	font-size: 0.938rem;
}

header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 72px;
	padding: 10px 50px 5px 30px;
	background: var(--light);
	color: #f9f9f9;
	transition: box-shadow 0.3s ease-in-out;
	border-bottom: 1px solid rgb(247, 140, 247);
}

header.scrolled {
	box-shadow: 0 4px 8px rgba(213, 162, 255, 0.8);
}

.navbar-logo {
	border-radius: 5px;
	height: 60px;
	width: 60px;
}

.menu > a {
	font-weight: 500;
	margin: 0 10px;
	color: var(--secondary);
	font-size: 1.125rem;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
}

@media screen and (max-width: 768px) {
	.menu > a {
		font-weight: 500;
		margin: 0 5px;
		color: var(--secondary);
		font-size: 1rem;
		text-decoration: none;
		padding: 5px;
		border-radius: 10px;
	}
}

.menu > a:hover {
	color: var(--lighter);
	background: var(--secondary);
}

.title {
	font-size: 1.5rem;
}

#cart-btn {
	background: transparent;
	border: none;
	color: var(--white);
	font-size: 1.5rem;
	cursor: pointer;
	position: relative;
}

#cart-count {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: var(--secondary);
	color: var(--white);
	border-radius: 50%;
	padding: 2px 8px;
	font-size: 1rem;
	font-weight: 600;
}

svg:hover {
	transform: scale(1.2);
}

#intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	text-align: center;
}

#intro h2 {
	font-size: 1.875rem;
}

#intro p {
	font-size: 1.25rem;
	margin-top: 10px;
}

main {
	margin-top: 70px;
	padding: 2rem;
}

#search-sort-filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	margin-bottom: 1rem;
}

#search-input,
#sort-select,
#category-select {
	padding: 0.5rem;
	border: 1px solid var(--accent);
	border-radius: 4px;
	font-size: 1rem;
	background-color: #f9f9f9;
	flex: 1;
}

#search-input {
	flex: 2;
}

#sort-select,
#category-select {
	max-width: 200px;
}

@media (max-width: 768px) {
	#search-sort-filter {
		flex-direction: column;
		align-items: stretch;
	}

	#search-input,
	#sort-select,
	#category-select {
		width: 100%;
		margin-right: 0;
	}
}

#dessert-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.dessert-card {
	background-color: var(--white);
	border-radius: 8px;
	padding: 1rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	border: none;
	transition: all 0.3s ease;
}

.dessert-card:hover {
	transform: translateY(-5px);
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border-radius: 10px;
}

.dessert-card h2 {
	margin-bottom: 0.5rem;
	color: var(--secondary);
}

.size-select {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.product-category {
	font-style: italic;
	color: var(--secondary);
	margin-bottom: 1rem;
}

.product-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	margin-bottom: 1rem;
}

.btn,
.add-to-cart-btn {
	background-color: var(--accent);
	color: var(--dark);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn:hover,
.add-to-cart-btn:hover {
	background-color: var(--light);
}

#cart-container {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 400px;
	height: 100%;
	background-color: var(--white);
	padding: 2rem;
	box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 10;
}

#cart-container.show {
	display: block;
	transform: translateX(0);
}

#cart-container h2 {
	margin-bottom: 1rem;
	color: var(--secondary);
}

#clear-cart-btn {
	margin: 20px 0;
}

#close-cart-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: var(--secondary);
}

#close-cart-btn:hover {
	color: var(--accent);
}

.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--lighter);
}

.product-info {
	flex-grow: 1;
}

.product-controls {
	display: flex;
	align-items: center;
}

.quantity-btn {
	background-color: var(--accent);
	color: var(--dark);
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 1rem;
	cursor: pointer;
}

.product-quantity {
	margin: 0 0.5rem;
}

#cart-summary {
	margin-top: 2rem;
	text-align: right;
}

.checkout-btn,
#checkout-btn,
#mainCheckout-Btn {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: var(--secondary);
	color: var(--white);
	font-size: 1.1rem;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 1rem;
}

.checkout-btn:hover {
	background-color: var(--accent);
	color: var(--dark);
}

#main-checkout-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

#main-checkout-btn {
	max-width: 300px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: var(--white);
	margin: 15% auto;
	padding: 20px;
	border: 1px solid var(--accent);
	width: 80%;
	max-width: 500px;
}

.close {
	color: var(--dark);
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: var(--accent);
	text-decoration: none;
	cursor: pointer;
}

#checkout-form input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid var(--accent);
	border-radius: 4px;
}

@media (max-width: 768px) {
	#cart-container {
		width: 100%;
		max-width: none;
	}

	.title {
		font-size: 1.25rem;
	}

	#intro h2 {
		font-size: 1.5rem;
	}

	#intro p {
		font-size: 1rem;
	}

	.dessert-card {
		padding: 0.5rem;
	}

	.product {
		flex-direction: column;
	}

	.product-controls {
		margin-top: 0.5rem;
	}

	#search-sort-filter {
		flex-direction: column;
	}

	#search-input,
	#sort-select,
	#category-select {
		margin-bottom: 0.5rem;
	}
}

.popover {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(109, 7, 139, 0.9);
	color: white;
	padding: 20px 30px;
	border-radius: 5px;
	font-size: 1.25rem;
	z-index: 1000;
	animation: fadeInOut 3s ease-in-out;
	text-align: center;
	max-width: 90%;
	width: 300px;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0;
	}
	10%,
	90% {
		opacity: 1;
	}
}

/* Media query for smaller screens */
@media (max-width: 768px) {
	.popover {
		font-size: 1rem;
		padding: 15px 20px;
		width: 250px;
	}
}

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.wrapper {
	width: 200px;
	height: 60px;
	position: relative;
	z-index: 1;
}

.circle {
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	background-color: var(--secondary);
	left: 15%;
	transform-origin: 50%;
	animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
	0% {
		top: 60px;
		height: 5px;
		border-radius: 50px 50px 25px 25px;
		transform: scaleX(1.7);
	}
	40% {
		height: 20px;
		border-radius: 50%;
		transform: scaleX(1);
	}
	100% {
		top: 0%;
	}
}

.circle:nth-child(2) {
	left: 45%;
	animation-delay: 0.2s;
}

.circle:nth-child(3) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}

.shadow {
	width: 20px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 62px;
	transform-origin: 50%;
	z-index: -1;
	left: 15%;
	filter: blur(1px);
	animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
	0% {
		transform: scaleX(1.5);
	}
	40% {
		transform: scaleX(1);
		opacity: 0.7;
	}
	100% {
		transform: scaleX(0.2);
		opacity: 0.4;
	}
}

.shadow:nth-child(4) {
	left: 45%;
	animation-delay: 0.2s;
}

.shadow:nth-child(5) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}
